<!-- views/editContact.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Contact</title>
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }

      h1 {
        color: #333;
      }

      form {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        margin-bottom: 20px;
      }

      label {
        display: block;
        margin-bottom: 8px;
      }

      input {
        width: 100%;
        padding: 8px;
        margin-bottom: 12px;
        box-sizing: border-box;
      }

      button {
        background-color: #4caf50;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
      }

      button:hover {
        background-color: #45a049;
      }

      a {
        text-decoration: none;
        color: #3498db;
        margin-top: 10px;
      }

      a:hover {
        color: #1d70b8;
      }
    </style>
  </head>
  <body>
    <h1>Edit Contact</h1>
    <form action="/updateContact/<%= contact._id %>" method="post">
      <label for="name">Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= contact.name %>"
        required
      />
      <label for="phoneNumber">Phone Number:</label>
      <input
        type="text"
        id="phoneNumber"
        name="phoneNumber"
        value="<%= contact.phoneNumber %>"
        required
      />
      <button type="submit">Update Contact</button>
    </form>
    <a href="/contacts">Go back to Contacts</a>
  </body>
</html>
